# Series

Terdapat dua buah tipe data yang umum digunakan dalam library Pandas. Notebook ini akan membahas tipe data yang pertama bernama Series.

Series serupa dengan NumPy array (faktanya, Series dibangun diatas NumPy). Yang membedakan antara NumPy array dari Series adalah Series bisa memiliki label. Itu berarti Series bisa melakukan index berdasarkan nama label, bukan hanya angka index seperti Numpy Array. Series juga bisa menampung Python Object, tidak seperti Numpy yang hanya menyimpan nilai numerik.

In [1]:
import numpy as np
import pandas as pd

## Membuat Series

Kita bisa melakukan konversi Python List, NumPy array, dan Python Dictionary ke Series

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [6]:
d

{'a': 10, 'b': 20, 'c': 30}

### Python List ke Series

In [7]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

### Numpy Array ke Series

In [10]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [11]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

### Python Dictionary ke Series

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

## Data-data yang dimasukkan kedalam Series

Pandas Series dapat menyimpan beragam objek, tidak terbatas hanya numerik saja.

In [13]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [14]:
# Bahkan bisa menyimpan fungsi-fungsi! (tapi kita jarang menggunakan fitur ini)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Menggunakan Index

Kunci menggunakan Pandas Series ialah memahami tentang index. Pandas menggunakan index berupa nama (string) atau angka menggunakan fast-look-ups information (seperti hash table atau dictionary).

Untuk memahami lebih dalam menggunakan Series, mari kita buat dua buah Series; ser1 dan ser2

In [15]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [16]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [17]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [18]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [19]:
ser1['USA']

1

Operasi aritmatik juga bisa dilakukan menggunakan index seperti berikut

In [20]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

Berikutnya kita akan mencoba mempelajari menggunakan Pandas Dataframe